.assembly-endgame-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 350px;
}

.language-chips > span {
    padding: 4.5px;
    border-radius: 3px;
    position: relative;
}

.language-chips > span.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.current-word {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.current-word > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    color: #F9F4DA;
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: solid 1px #F9F4DA;
}

.current-word > span.missed-char{
    color: red;
}

.keyboard {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    max-width: 480px;
    gap: 6px;
}

.keyboard.disabled{
    opacity: 50%;
    cursor: not-allowed;
}

.keyboard-button {
    height: 40px;
    width: 40px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #1E1E1E;
}

.right {
    background-color: #10A95B;
}

.wrong {
    background-color: #EC5D49;
}

.new-game-button {
    margin-top: 40px;
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}