.assembly-endgame-main {
    width: 350px;
}
.game-status {
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin-block: 30px;
    color: #F9F4DA;
}

.game-status > h2 {
    margin: 5px;
    font-size: 1.25rem;
}

.game-status > p {
    margin: 5px;
}

.language-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 350px;
}

.language-chips > span {
    padding: 4.5px;
    border-radius: 3px;
}
.current-word {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.current-word > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    color: #F9F4DA;
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: solid 1px #F9F4DA;
}