.tenzies-main{
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dice-container {
    display:grid;
    grid-template: auto auto / repeat(5, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}